VITE_AZURE_CLIENT_ID=https://kaiserox.ciamlogin.com/3ad481d8-3136-47be-99b9-98077738d480/v2.0/
VITE_AZURE_TENANT_ID=3ad481d8-3136-47be-99b9-98077738d480
VITE_AZURE_AUTHORITY=https://<tenant>.ciamlogin.com/<tenant-id>/<user-flow>
VITE_AZURE_API_SCOPE=api://telemedicina-rural-api/read
VITE_AZURE_REDIRECT_URI=http://localhost:5173