VITE_AZURE_CLIENT_ID=
VITE_AZURE_TENANT_ID=
VITE_AZURE_AUTHORITY=https://<tenant>.ciamlogin.com/<tenant-id>/<user-flow>
VITE_AZURE_API_SCOPE=api://telemedicina-rural-api/read
VITE_AZURE_REDIRECT_URI=http://localhost:5173