# Local .terraform directories
.terraform/

# Ignorar archivos de estado (contienen información confidencial o sensible)
*.tfstate
*.tfstate.*
crash.log
*.tfplan

# Variables con datos sensibles (contraseñas, llaves privadas, etc.)
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# --- Nuevas reglas basadas en tus servicios y seguridad ---

# Ignorar carpetas de compilación de Java/Maven en todos los microservicios
**/target/

# Ignorar llaves privadas (CRÍTICO)
*.pem