AZURE_ISSUER=https://login.microsoftonline.com/common/v2.0
AZURE_AUDIENCE=api://telemedicina-rural-api
# Ingrese la IP publica de la EC2 de Frontend (ejemplo: http://54.123.45.67)
FRONTEND_ORIGIN=http://localhost:5173
